*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .heading{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    background-color: white;
    transition: all.5s;
} */
/* header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.home{
    transition: all .5s;
    padding: 20px;
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),url(./assets/images/bg_img.webp);
    background-size: cover;
    background-position: center;
    height:150vh
}
.home a{
    display: block;
    /* padding-left: 20px ; */
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-weight: 700;
}
.home a span{
    color: #39b54a;
}
.home div{
    padding: 150px 0 100px 150px;
    display: flex;
    flex-wrap: wrap;
}
.home div h3{
    width: 100%;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
}
.home div p{
    font-weight: 700;
    width: 60vw;
    font-size: 50px;
    color: rgba(255, 255, 255, 1);
}
.home div div{
    width: 5%;
    padding: 0;
}
.home div div img{
    width: 30px;
    height: 30px;
    width: 100%;
}
.nav{
    position: fixed;
    top:30px;
    right: 30px;
}
.mybtn{
    height: 50px;
    width: 200px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    top: 50px;
}
.mybtn:hover{
    background-color: white;
    transition: all.5s;
    color: black;
}